build/*
build-win/*
CMakeCache.txt
CMakeFiles/*
cmake_install.cmake
Makefile
*.cmake
*.o
out/
.vs/
*.obj
*.exe
*.dll
*.so
*.dylib
*.log
*.user
.vscode/
bin/
CMakeFiles/
Client/CMakeFiles/
Server/CMakeFiles/
.idea/

